$break-xs: 768px;
.navbar-brand {
	background-image: none;
	img {
		float: left;
		margin-right: 15px;
	}
		
	span {
		float: left;
		color: #FFFFFF;
		&.main {
			letter-spacing: 4px;
			margin-top: 11px;
		}
		&.second {
			font-size: 10px
		}
	}
}

.lightHeader .navbar-brand {
	background-image: none;
	span {
		color: #000000;
	}
}

footer {
	.copyRight {
		background-color: #51488A;
		p {
			color: #FFFFFF;
			font-size: 12px;
			line-height: 1.4em;
			a {
				color: inherit;
			}
		}
	}
}

.center {
	text-align: center !important;
}

.justify {
	text-align: justify !important;
}
.no-xs {
	@media screen and (max-width: $break-xs) {
		display: none;
	}
}
.only-xs {
	display: none;
	@media screen and (max-width: $break-xs) {
		display: block;
	}
}

.about-page {
	background-image: url('../images/office-365.jpg');
}
.about-img {
	width: 100%;
	@media screen and (max-width: $break-xs) {
		width: auto;
		height: 200px;
	}
}
.about-quote {
	font-size: 22px;
	font-style: italic;
}

.contact-page {
	background-image: url('../images/contact.jpg');
}
.not-resize{
	resize: none;
}

h3.section-header {
	font-weight: 500;
}

.home-cover {
	position: relative;
	.desk-search-bar {
		position: absolute;
		z-index: 99;
		width: 100%;
		top: 70%;
	}
	.fullscreenbanner {
		
	}
}
